@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.Intro-container {
  display: flex;
  height: 100vh; /* ↓ 변경 */
  min-height: 640px; /* ✅ 최소 높이 확보 */
  width: 100%;
  font-family: 'Pretendard', sans-serif;
  background-image: url('../images/bg3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; /* 추가해도 되고, 안 해도 됩니다 */
}

.Intro-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.Intro-right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
}

/* 텍스트 효과 */
.Intro-fade-line {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 18%;
  font-weight: 600;
}

.Intro-line-1 { 
  margin-top: 100px;
  animation-delay: 0.2s; 
  font-weight: 700;
  font-size: 48px;
    color: #191919;

}

.floating-text {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-100%); /* 텍스트 윗부분이 세로 중앙에 오도록 */
  white-space: nowrap;
  font-size: 164px;
  font-weight: 800;
  color: rgba(45, 52, 139, 0.05); /* 연한 진청색 */
  animation: floatText 10s linear infinite;
  z-index: 1; /* 배경 위, 콘텐츠 아래로 조정 */
  pointer-events: none; /* 클릭 방해 안 되도록 */
  font-family: 'Pretendard', sans-serif;
}

@keyframes floatText {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

/* 반응형 */
@media (max-width: 768px) {
   .Intro-container {
    flex-direction: column;
    min-height: 100svh;
  }

  .Intro-left {
    width: 100%;
    height: 40vh;
    padding-left: 0;
    align-items: center;
    justify-content: center;
  }

  .fade-line {
    padding-left: 0;
    text-align: center;
  }

  .line-1 { 
  margin-top: 150px;
  animation-delay: 0.2s; 
  font-weight: 700;
  font-size: 32px;
    color: #191919;

}
}