html {
  scroll-behavior: smooth;
}

.app-wrapper {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* 수직 방향으로 강제 snap */
  scroll-behavior: smooth;        /* 부드러운 스크롤 */
}

.app-wrapper > section {
  height: 100vh;
  scroll-snap-align: start;      /* 섹션 시작점에서 snap */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
section {
  font-size: 0;
}

